{% extends 'base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %} 
{% block content %}
<div class="container-fluid">
  <div class="row abt-bck">
    <h1 class="Abt-head">
      ABOUT US
  </div>

</div>
<div class="Abt-div2 row">
  <h1 class="Abt-h2">MILESTONES </h1>
  <p class="Abt-content">Alt_Mobility electrifies Indian mobility with subscription eBikes, helping businesses cut carbon footprints—because your next delivery deserves to be pollution-free.”</p>
    
   
    
    
</div>


{% endblock %}
