
{% extends 'base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}
{% block content %}
<div class="row align-items-center">
  <div class="col-md-6">
    <img class="heroImg img-fluid" src="{% static 'images/homephoto.jpg' %}" alt="img">
  </div>
  <div class="col-md-6">
    <h1 class="display-5"><img src="./images/LOGO.jpg" alt=""></h1> 
  
    <p class="lead">Power Up Your Journey, the <span style="color:orangered">Electric</span> Way.<p>
      <p>We provide eco-friendly electric scooters and bikes on rent, making urban travel affordable, convenient, and sustainable.</p>
      <a href="/services" class="btn btn-outline-success btn-lg">Our Services</a></p>
  </div>
</div>

<hr class="my-5">

{% comment %} <div class="row">
  <div class="col-md-4">
    <h4>Why Electric Mobility?</h4>
    <p>Zero Emission · Easy Maintenance · Lower Operating Cost · IoT enabled</p>
  </div>
  <div class="col-md-4">
    <h4>Services</h4>
    <p>Sales · Service · DCO · Refinance · Fleet Solutions</p>
  </div>
  <div class="col-md-4">
    <h4>Impact</h4>
    <p>100850 KGs CO₂ saved · 30L Green KM travelled</p>
  </div>
</div> {% endcomment %}

<div class="row">
  <div class="col-sm-6">
    <h1 class="partHead">Partnership</h1>
    <p class="partPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quidem quos aliquid ex doloremque at repudiandae ab repellat dicta et, modi est hic natus maxime adipisci porro blanditiis debitis qui!</p>
  </div>
  <div class="col-sm-6">
    <img class="partImg img-fluid rounded-4" src="{% static 'images/partImg.png' %}">
  </div>
</div>
<div class="why-ev-imgBox">
              <div class="why-ev-textBox">
                <div class="ft-list">
                  <img src="{% static 'images/image10.svg' %}" />
                  <div>
                    <h3 class="why-ft-head">Zero Emission</h3>
                  <p>No emission or noise pollution</p>
                  </div>
                </div>
                <div class="ft-list">
                  <img src="{% static 'images/image4.png' %}" />
                  <div>
                    <h3 class="why-ft-head">Easy Maintenance</h3>
                  <p>Fewer moving parts, less maintenance</p>
                  </div>
                </div>
                <div class="ft-list">
                  <img src="{% static 'images/image5.png' %}" />
                  <div>
                    <h3 class="why-ft-head">IoT Tech Enabled</h3>
                  <p>Easy integration with the default electronic system</p>
                  </div>
                </div>
              </div>
              <img
                class="why-ev-img"
                src="{% static 'images/image3.png' %}"
                alt="feature img"
              />
              <div class="why-ev-textBox box2">
                <div class="ft-list ft-list0">
                  <div>
                    <h3 class="why-ft-head">Lower Operating Cost</h3>
                    <p>90% less operating cost than ICE vehicles</p>
                  </div>
                  <img src="{% static 'images/image7.png' %}" />
                </div>
                <div class="ft-list ft-list1">
                  <div>
                    <h3 class="why-ft-head">Favourable Government Policy</h3>
                    <p> Increasingly pro-EV policies (e.g., mandates for aggregators and delivery services)</p>
                  </div>
                  <img src="{% static 'images/image8.png' %}" />
                </div>
                <div class="ft-list ft-list2">
                  <div>
                    <h3 class="why-ft-head">Lower Capital Requirement</h3>
                    <p>Subsidies/incentives reduce upfront cost</p>
                  </div>
                  <img src="{% static 'images/image9.png' %}" />
                </div>
              </div>
            </div>

<div class="row partBox">
  <h1 class="partHead" style="text-align:center ; text-decoration:underline">Partners</h1>
  <div class="col-sm-4 partLogo">
    <marquee scrollamount="15">
      <img src="{% static 'images/image79.png' %}" alt="">
      <img src="{% static 'images/image78.png' %}" alt="">
      <img src="{% static 'images/image80.png' %}" alt="">
      <img src="{% static 'images/image81.png' %}" alt="">
      <img src="{% static 'images/image82.png' %}" alt="">
      <img src="{% static 'images/image83.png' %}" alt="">
      <img src="{% static 'images/image84.png' %}" alt="">
      <img src="{% static 'images/image68.png' %}" alt="">
      <img src="{% static 'images/image86.jpeg' %}" alt="">
      <img src="{% static 'images/image79.png' %}" alt="">
      <img src="{% static 'images/image78.png' %}" alt="">
      <img src="{% static 'images/image80.png' %}" alt="">
      <img src="{% static 'images/image81.png' %}" alt="">
      <img src="{% static 'images/image82.png' %}" alt="">
      <img src="{% static 'images/image83.png' %}" alt="">
      <img src="{% static 'images/image84.png' %}" alt="">
      <img src="{% static 'images/image68.png' %}" alt="">
      <img src="{% static 'images/image86.jpeg' %}" alt="">
      <img src="{% static 'images/image79.png' %}" alt="">
      <img src="{% static 'images/image78.png' %}" alt="">
      <img src="{% static 'images/image80.png' %}" alt="">
      <img src="{% static 'images/image81.png' %}" alt="">
      <img src="{% static 'images/image82.png' %}" alt="">
      <img src="{% static 'images/image83.png' %}" alt="">
      <img src="{% static 'images/image84.png' %}" alt="">
      <img src="{% static 'images/image68.png' %}" alt="">
      <img src="{% static 'images/image86.jpeg' %}" alt="">
    </marquee>
  </div>
</div>
<section id="solution">
        <div class="solOuterBox">
          <h1>ZMR Mobility Solution To Users</h1>
          <p>Simplifying EV ownership</p>
          <div class="solOuter">
            <div class="row solMainBox">
              <div class="col-sm-5">
                <div class="row solInfoRow">
                  <div class="col-sm-6 solInfoBox">
                    <img class="solImg" src="{% static 'images/image19.png'%}" />
                    <h3>Smart Electric vehicle</h3>
                    <p>
                      Associated Platforms can over their entire Evs and saving
                      resources
                    </p>
                  </div>
                  <div class="col-sm-6 solInfoBox">
                    <img class="solImg" src="{% static 'images/image26.png'%}" />
                    <h3>Battery Charging</h3>
                    <p>
                      Simply plug your vehicle in your home charger for 4-5
                      hours before your plan to go
                    </p>
                  </div>
                </div>
                <div class="row solInfoRow">
                  <div class="col-sm-6 solInfoBox">
                    <img class="solImg" src="{% static 'images/image23.png'%}" />
                    <h3>Tech Platform</h3>
                    <p>
                      All Evs can be operated via a technical advanced platform
                      to ease the functionality.
                    </p>
                  </div>
                  <div class="col-sm-6 solInfoBox">
                    <img class="solImg" src="{% static 'images/image22.png'%}" />
                    <h3>Vehicle Insurance</h3>
                    <p>
                      Every vehicle offered by is insured to cover the user if
                      any happenings
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 solImgBox">
                <img class="solHeroImg" src="{% static 'images/image29.png'%}" />
                <img class="solHeroImg" src="{% static 'images/image28.png'%}" />
              </div>
              <div class="col-sm-5">
                <div class="row solInfoRow">
                  <div class="col-sm-6 solInfoBox">
                    <img class="solImg" src="{% static 'images/image25.png'%}" />
                    <h3>IOT</h3>
                    <p>
                      Collects and records statistics of the vehicle such GPS
                      tracking, Geo Fencing, Mobilize & Immobilize and Battery
                      level
                    </p>
                  </div>
                  <div class="col-sm-6 solInfoBox">
                    <img class="solImg" src="{% static 'images/image21.png'%}" />
                    <h3>Easy Financing</h3>
                    <p>Easy and flexible EMI options Mobilize & Immobilize and Battery level</p>
                  </div>
                </div>
                <div class="row solInfoRow">
                  <div class="col-sm-6 solInfoBox">
                    <img class="solImg" src="{% static 'images/image24.png'%}" />
                    <h3>Reduce Driver Churn</h3>
                    <p>
                      Due to convenience of our offerings and user-friendly
                      options, we have reduced driver churn
                    </p>
                  </div>
                  <div class="col-sm-6 solInfoBox">
                    <img class="solImg" src="{% static 'images/image20.png'%}" />
                    <h3>Battery Swapping</h3>
                    <p>
                      An interesting advantage of using our vehicles is that a
                      low charged battery in a vehicle can be swapped with
                      highly charged battery from another
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


{% endblock %}

